/**
 * Base
 */

body {
  color: $oc-gray-8;
}

h1, h2 {
  color: $oc-gray-7;
}

a {
  color: $oc-indigo-6;
  &:hover,
  &:focus {
    color: $oc-indigo-8;
  }
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid $oc-gray-3;
  &:focus {
    border: 1px solid $oc-indigo-3;
  }
  &[type=text] {
    appearance: none;
    border-radius: 0;
  }
}

*:focus {
    outline: none;
}

::placeholder {
    color: $oc-gray-5;
    opacity: 1;
}
